/* For files styles */
@media screen and (max-width: 375px) {
    
    .file {
        max-width: 105px;
        height: 125px;
        max-height: 125px;
        box-sizing: content-box;
        border: 1px solid #aaaaaa;
        margin: 10px 5px 5px 5px;
        display: inline-block;
        border-radius: 5px;
        background: #91919127;
        transform: scale(0);
        transition: 0.5s;
    }
    .explorerView .file .file_subfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 5px;
        max-height: 135px;
     
    }
    .explorerView .file p {
        text-align: center;
        font-size: 12px;
        margin: 2px 2px 5px 2px;
        cursor: default;
        transition: 1s;
    
    }
    .explorerView .file .file_subfile .extIcn {
        max-height: 85px;
    
    }
    .file_subfile .file_tools {
        position:relative;
        top: -15px;
        height: 25px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        opacity: 0;
        transition: .5s;
    }

    .file_subfile .file_tools img {
        max-height: 20px;
        max-width: 20px;
        margin-left: 5px;
        margin-right: 5px;
    
    }
}